<html>
    <head>
        <style type="text/css">
            * {
                font-family: Arial, sans-serif;
            }
            input, .todo-item {
                font-size: 16pt;
            }
            .todo-item {
                padding: 7px;
            }
            .todo-list {
                list-style: square;
            }
            .item-status-0 {
                font-weight: bold;
                cursor: pointer;
            }
                .item-status-0:hover {
                    text-decoration: line-through;
                }
            .item-status-1 {
                text-decoration: line-through;
                color: #ccc;
            }
            .add-item-form {
                font-size: 0;
                margin:0;
            }
            .text-field {
                padding: 7px;
            }
            .button {
                padding: 8px;
                position: relative;
                left: -6px;
            }
            .subtle {
                opacity: 0.3;
                padding: 4px;
                font-size: 12pt;
            }
            .header-button {
                width: 100%;
                margin: 0;
            }

        </style>
    </head>
    <body>
        <h2>To-Do</h2>
        <div>
            <input type="button" value="Clear completed tasks" class="button header-button" id="btn-clear" />
        </div>
        <ul class="todo-list">
            {{#if todoItems}}
                {{#each todoItems}}
                <li class="todo-item item-status-{{status}}" rel="{{ref}}">{{desc}}
                    <input type="button" value="X" class="button subtle btn-delete-item" rel="{{ref}}" />
                </li>
                {{/each}}
            {{else}}
                <li class="todo-item"><em>Nothing to do!</em></li>
            {{/if}}
            <li class="add-item-form">
                <input type="text" id="new-item-text" class="text-field" placeholder="Click to add a new item"/>
                <input type="button" id="btn-add-item" class="button" value="Add"/>
            </li>
        </ul>
        <form id="new-item-form">

        </form>

        {{#if dbError}}
        <p>Error: {{dbError}}</p>
        {{/if}}
    </body>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/todo_home.js"></script>
</html>